:root {
    --default-max-width: 60em;
    --boxes-width-large:36em;
    --boxes-width:30em;
    --boxes-medium-width:20em;
    --boxes-small-width:15em;
    --boxes-height-max:45em;
    --boxes-height-large:36em;
    --boxes-height:32em;
    --boxes-height-medium:26em;
    --boxes-height-small:22em;
    --col-darkest: #333;
    --col-dark: #4B4B4B;
    --col-light: #bbbbbb;
    --col-light-box: #efefef;
    --section-max-height:40em;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2.5em;
}

/*---------------------------
    Layout
----------------------------*/
.container {

    /* width: 100%; */
    max-width: var(--default-max-width);
    margin: 0 auto;
    box-sizing: border-box;
}

/*---------------------------
    Buttons
----------------------------*/
.btn {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--col-dark);
    background-color: var(--col-light);
    color: var(--col-darkest);
    padding: 0.65em 1.25em;
}

.btn--clear {
    background-color: transparent;
}

.btn--light {
    color: white;
}

.btn--light-border {
    color: white;
    border: 1px solid white;
}

/*---------------------------
    Nav
----------------------------*/
nav {
    
    background-color: white;
}

.nav-container {
    max-width: var(--default-max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center
}

.nav_list {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.nav_list_item {
    display: inline-block;
}

.nav_list_item1 {

    font-family: 'Galada', cursive;
    display: inline-block;
    font-size:large;
}

.nav_list_item_link {

    padding: 1.25em;
    display: block;
    text-decoration: none;
    color: var(--col-darkest);
}

/*---------------------------
    Site Header
----------------------------*/
.site-header {
    min-height: 35em;
    background-color:var(--col-light-box);
    background: linear-gradient(to left, transparent 25%, #efefef 0%);
}

.site-header_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: inherit;
}

.site_header_content_cta {
    background-color: var(--col-dark);
    color: white;
    padding: 2.8em;
    width: 40%;
}

/*---------------------------
    Vegan destination
----------------------------*/

.vegan-scrollbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -2.8em;
    margin-bottom: 0;
}

.vegan-scrollbox_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100;
    margin-right: 2.8em;
}

.vegan-scrollbox_item {
    background-color: var(--col-light);
    height: 8.5em;
    width: 14em;
    margin-left: 0.6em;
}

.left {
    font-size: 1em;
}

.vegan-text-cols {
    display: flex;
    align-items:center;
    /* box-sizing: border-box; */
    justify-content:flex-start;
    margin: 0;
}

.vegan-text_center, .vegan-text_right {
    flex: 20%;
    size: 25em;
    margin-left: -140px;
    margin-right: 140px;
} 
.vegan-text_left {
    flex: 10%; 
    size: 23em;
} 
.vegan-text_right p {
    line-height: 1.5em;
    margin-top: 0;
}

.es {
    display: flex;
    color:var(--col-light-box);
    align-items: flex-start;
    font-size: 23em;
    margin-left: -250px; 
    margin-top: -50px; 
}

/*---------------------------
    Section 2: Amazing journey
----------------------------*/

#section2 {
    height:var(--boxes-height-large);
    display: flex;
    width: 90%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
}

.box_1 {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    width: 95%;

    height: 10em;
 
}

.Amazingjourney, .Whatdoyou {
    flex: 1;
}

/* .column_center {
    order: 2;
} */

/* #section2 {
    display: flex;
    width: 90%;
    justify-content: space-between;
    /* position: absolute; */
    /* margin-left: auto;
    margin-right: auto;
    height:var(--boxes-height-large); */
    /* margin-bottom: 10em; */
    /* align-items: center; */
    /* padding: 55px; */
    /* background-color: #221e1e; */
/* } */ */

.box_1-item {
    
    background-color: var(--col-dark);
    width:var(--boxes-medium-width);
    height: var(--boxes-height);
    /* margin-left: 0.6em; */
}

.Amazingjourney {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: var(--boxes-height-medium);
}

.Whatdoyou {
    display: flex;
    justify-content:center;
    height: 20em;
    margin-top: -250px;
    margin-left: 0;
}

.Whatdoyou-text {
    transform:rotate(90deg);
}

/*---------------------------
    Box overlap
----------------------------*/

.overlapping-box_zero {
    display: flex;
    justify-content: flex-start;
    margin-left:5%;
    margin-bottom: -40em;
   
}

.overlap-box_zero {
    background-color: var(--col-light);
    width:var(--boxes-width-large);
    height: var(--boxes-width-large);
    z-index: 11;   
}

.overlapping-box {
    display: flex;
    justify-content: flex-end;
    width: 95%;
 
    margin-top: 4em;
    height: 10em;
    margin-left: -30px;
}

.overlap-box {
    background-color: var(--col-light);
    width:var(--boxes-small-width);
    height: var(--boxes-height-small);
    z-index: 11;   
}

/*---------------------------
    Section 3: Tips for travelling
----------------------------*/

#section3 {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    height: 32em;
    background-color: white;
    margin-top: 2em;
    margin-bottom: 3em;
}

.Tipsfor {
    width:30%;
}

.box_3 {
    width:var(--boxes-medium-width);
    height: var(--boxes-height);
    background-color:var(--col-light-box);
    margin-top: -2.5em;
}

.box_4 {
    width:var(--boxes-small-width);
    height: var(--boxes-height-small);
    background-color:var(--col-light-box);
    margin-top: -9em;
    z-index: 10;
}

/*---------------------------
    Section 4: Adventure & Action In Travel
----------------------------*/

.E {
    display: flex;
    color:var(--col-light-box);
    align-items: flex-start;
    font-size: 26em;
    margin-left:-550px;
    margin-bottom: -100px;
}

.Adventure {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: flex-end;
    height: 10em;
}

.Adventure-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 160px;
}

.Bo {
    display: flex;
    color:var(--col-light-box);
    align-items: flex-start;
    font-size: 23em;
    margin-right: -300px; 
    margin-top: -50px;  
}

/*---------------------------
    Section 5: Easy ways to make travel faster
----------------------------*/

#section5 {
    display: flex;
    align-items:center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content:flex-start;
    height: 40em;
    background-color: white;
}

.box_5 {
    width:var(--boxes-height);
    height: var(--boxes-height);
    background-color:var(--col-light-box);
}

.Easyways {
    width:var(--boxes-height-small);
    height: var(--boxes-height);
    background-color:white;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 300px;
}

.Easyways-text {
    margin-top: -5em;
}

/*---------------------------
    Section 6: The travel mystery revealed
----------------------------*/

#section6 {
    display: flex;
    align-items:center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content:space-between;
    height: 10em;
    background-color: white;
    margin-top: 6em;
}

.Thetravelmystery {

    width:var(--boxes-height-medium);
    height: 9em;
    background-color:white;
    margin-left: 10%;
    margin-bottom:0em;
}

.Thetravelmystery-text {

    width:var(--boxes-width);
    height: var(--boxes-height);
    background-color:white;
    margin-right: 11%;
    margin-top: 10%;
   
}

.box_6 {

    width:var(--boxes-width-large);
    height:var(--boxes-medium-width); 
    background-color:var(--col-light-box);
}

/*---------------------------
    Boxes overlap in the middle of the doc
----------------------------*/

.overlapping-boxes {

    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    height: 10em;
}

.overlap-box-left {

    background-color: var(--col-light);
    width:var(--boxes-width-large);
    height: var(--boxes-height-large);
    z-index: 11;
    margin-top: -48em;
 
}

.overlap-box-right {

    background-color: var(--col-light);
    width:var(--boxes-width-large);
    height:var(--boxes-medium-width); 
    z-index: 11;
    margin-top: -20em;
}
/*---------------------------
    Section 7: Travel
----------------------------*/

#section7 {

    display: flex;
    align-items:flex-start;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8em;
    height: 16em;
    background-color: white;
}

.Travel {

    display: flex;
    color:var(--col-light-box);
    align-items: flex-start;
    font-size: 23em;
    margin-left: -0.3em;
}

/*---------------------------
    Section 8: Below vid text
----------------------------*/

#section8 {

    display: flex;
    align-items:center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content:space-between;
    height: 44em;
    background-color: white;
    margin-top:20em;
}

.below-vid {

    display: flex;
    /* flex:1; */
    align-items: center;
    margin-top: 10em;
    /* flex-wrap: wrap; */
    width: var(--boxes-width-large);
    height: var(--boxes-height);
    background-color:white;
}

.below-vid-text p {

    font-style: italic;
    font-family: 'Roboto', cursive;
    margin: 10em;
}

.box_7 {
    
    width:var(--boxes-height-large);
    height:var(--boxes-height-large); 
    background-color:var(--col-light-box);
    margin-left: 0em;
}

.dots {

 
    font-size: 10em;
    color:var(--col-dark);
}

/*---------------------------
    Section 9: Video
----------------------------*/

#section9 {

    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    width: 80%;

    margin-left: 0;
    margin-right: auto;
    margin-top: -8em;
    height: 6.5em;
    background-color: white;
}

.video {

    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    margin-left: 0;
    padding-left: 0px;
    margin-top: -55em;
}

.buttons_box {
  
    max-width: 10em;
    margin-top: -55em;
    flex-wrap: column;
}

/*---------------------------
    Section 10: Free riders quote
----------------------------*/

#section10 {

    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 0;
    background-color: white;
}

.bunchof {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 20em;
}

.bunchof-title {

    font-size: 8em;
    align-items: center;
    justify-content: center;
}
.bunchof-text {

    display: flex;
    align-items: center;
    justify-content: center;
}

.quotation-mark {

    text-align: center;
}

/*---------------------------
    Section 11: Sidetext 
----------------------------*/

.sidetext {

    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.og {

    display: flex;
    color:var(--col-light-box);
    align-items: flex-start;
    font-size: 26em;
    margin-left:-500px;
    margin-top: -200px;  
}

/*---------------------------
    Section 12: Overlapping boxes bottom
----------------------------*/

#section12 {

    display: flex;
    align-items:center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content:flex-start;
    background-color: white;
}

.Trav {

    display: flex;
    color:var(--col-light-box);
    align-items: flex-end;
    font-size: 23em;
    margin-right:-450px; 
    margin-bottom: -500px;
}

.overlap-box-left2 {

    background-color: var(--col-light-box);
    width:var(--boxes-height-small);
    height: var(--boxes-width);
    z-index: 10;
    margin-left:8em;
}

/*---------------------------
    Section 13: Guide To Drive in Hill Stations
----------------------------*/

#section13 {

    display: flex;
    align-items:center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content:space-between;
    height: 10em;
    background-color: white;
    margin-top: 6em;
    margin-bottom: 20em;
}

.Guide {

    width:var(--boxes-height-medium);
    height: 9em;
    background-color:white;
    margin-left: 10%;
    margin-bottom:0em;
}

.Guide-text {

    width:var(--boxes-width);
    height: var(--boxes-height);
    background-color:white;
    margin-right: 11%;
    margin-top: 10%;
}

.overlapping-box2 {

    display: flex;
    justify-content: flex-end;
    width: 45%;
    margin-bottom: 0;
    height: 10em;
    margin-left: -30px;
}

.overlap-box2 {

    background-color: var(--col-light);
    width:var(--boxes-height-small);
    height: var(--boxes-width);
    z-index: 11;
    margin-top: 5em;
}

.box_8 {

    width:var(--boxes-width-large);
    height:var(--boxes-height-max); 
    background-color:var(--col-light-box);
    margin-top: -20em;
}

#section14 {
    align-items:center;
    width: 100%;
}

.portrait img {
    width: 100%;
    max-height: 100%;
}



/*---------------------------
    New code:footer
----------------------------*/

.site-footer {

    background-color: black;
    color: white;
    width: 100%;
    height: 25em;
} 


.grid-container {

    display: inline-grid;
    width: 100%;
    height: 25em;
    align-items: center;
    grid-template-columns: auto auto auto;
    color: white;
}
​
.grid-container>div {

    background-color: black;
    display: inline;
} 
​
.grid-logo {

    display: flex;
    justify-content: center;
   
    text-align: center;
    padding-top: 50px;
}

#Travelblog {

    display: flex;
    justify-content: center;
    font-family: 'Galada', cursive;
}

.fas-icon, .social-media, .Travelblog {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
​
.grid-head {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    /* padding-top: 50px; */
    text-align: justify;
} 

.search-container {
    /* padding-top: 50px; */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.email-container {

    flex-direction: row;
    flex-wrap: no-wrap;
}

.social-media ul li {
    list-style: none;
    margin: 10px 10px;
    font-size: 20px;
    display: inline-block;
    padding: 10px 10px;
    color: #fff;
    border: 1px solid #fff;
   border-radius: 50%;
    transition: .5s;
}
.social-media li:hover{
color: #292929;
border: 1px solid #292929;
transition: .5s;
}

.media {
    list-style: none;
    margin: 10px 10px;
    font-size: 20px;
    display: inline-block;
    padding: 10px 10px;
    color: #fff;
    border: 1px solid #fff;
   border-radius: 50%;
    transition: .5s;     
}

.copyright {
    font-size: small;
    margin-top: 8em;
    margin-bottom: -2em;
}

